<mat-card class="instance-card">
    <mat-card-header>
        <mat-card-title>{{instance.name}}</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
        <p>Status: {{instance.status}}</p>
        <p>IP: {{instance.ip}}</p>
    </mat-card-content>
    <br>
    <mat-card-actions>
        <section layout="row">
            <button mat-button (click)="start()">Start</button>
            <button mat-button (click)="shutdown()">Shutdown</button>
            <button mat-button (click)="reboot()">Reboot</button>
            <button mat-button color="warn" (click)="delete()">Delete</button>
        </section>
    </mat-card-actions>
</mat-card>