<div>
    <h2>Update Public Key</h2>
    <form [formGroup]="pubkeyForm" (ngSubmit)="onPubkeySubmit()">
        <mat-form-field style="width: 100%">
            <textarea formControlName="pubkey" matInput cdkTextareaAutosize cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="100"></textarea>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" [disabled]="loading">
            Update
        </button>
    </form>
    <br><br><br>
    <h2>Change Password</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="onPasswordSubmit()">
        <mat-form-field>
            <input matInput formControlName="password" type="password">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" [disabled]="loading">
            Update
        </button>
    </form>
</div>