<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1>Yet Another VPS</h1>
        <div>
            <a mat-button [routerLink]="['']"> Home </a>
            <a mat-button [routerLink]="['deploy']"> Deploy </a>
            <a mat-button [routerLink]="['image']"> Images </a>
        </div>
        <span class="example-spacer"></span>
        <span flex></span>
        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon aria-hidden="false" svgIcon="account" class="account-icon"></mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <div *ngIf="isLoggedin" style="text-align: center;">Hello <b>{{username}}</b> !</div>
                <button mat-menu-item [routerLink]="['setting']">
                  <span>Settings</span>
                </button>
                <button mat-menu-item (click)="logout()">
                  <span>Logout</span>
                </button>
              </mat-menu>
        </div>
    </mat-toolbar-row>

</mat-toolbar>
<div class="MainContainer">
    <router-outlet></router-outlet>
</div>